*{
    margin: 0;
    padding: 0;
}

/*product List CSS*/
.list .card {
    margin: 20px;
}
.list .card img{
    height: 180px;
    margin-top: 5px;
}
.btn-success:hover {
    background-color: white;
    color: #28a745;
}

/*Product Details CSS*/
.container {
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: #10bcd6;
    padding: 40px;
}
.main-details h5,p{
    color: white;
}
.main-details b {
    color: black;
}
.col-md-5 img {
    height: 400px;
}
.col-md-7 .rating {
    border-radius: 30px;
    margin-bottom: 5px;
    width: 100px;
    height: 30px;
}
.col-md-7 input {
    width: 30px;

}
.col-md-7 button {
    background-color: orange;
    color: white;
    border-radius: 10px;
    margin-left: 10px;
}
.col-md-7 button:hover {
    background-color: #ffffffe6;
    color: rgb(0, 0, 0);
}

/*cart Css*/
.cart-container {
    padding: 100px;
    padding-top: 20px;
    padding-bottom: 0px ;
}
.cart-head1 , .cart-head2 , .cart-head3 { 
    color: white;
    background-color: #0dcaf0;
}
.cart-head1 , .cart-head2 , .cart-head3 h5 {
    margin: 0;
}
.cart-item-2 , .cart-item-4 {
    background-color: #0dcaf0;
}
.cart-image {
    width: 100%;
    height: 100%;
}
.cart-product-details {
    margin: 0;
    padding: 0;
}
.input {
    text-align: center;
    border-radius: 20px;
    margin-top: 50px;
}
.table {
    font-size: 30px;
    font-weight: bold;
    padding: 0px 100px;
    text-align: right;
    display: flex;
    flex-direction: column;
}
.button {
    margin: auto;
    padding: 20px 25px;
    width: 300px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
/*Check-Out CSS*/
.checkout-container { 
    padding: 10px;
    margin: auto;
    border-radius: 10px;
}
.last-button {
    width: 100%;
    padding: 10px 20px;
    text-align: center;
    font-size: 20px;
}
.checkout-items {
    background-color: white; 
    padding:15px 15px 10px 15px; 
    margin-bottom: 5px; 
    border-radius: 15px;
}

/*invoice CSSS*/
.invoice-container {
    padding: 200px;
    padding-top: 50px;
    margin-top: 20px;
}
.invoice-container img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 20px;
}
.Invoice-item1 {
    background-color: #0dcaf0;
    margin: auto;
    height: 60px;
}
.Invoice-item1 h5 {
    margin-top: 18px;
    padding-left: 30px;
}
.Invoice-item2 {
    margin: auto;
    height: 60px;
}
.Invoice-item2 h5 {
    margin-top: 18px;
    padding-left: 30px;
}
.Invoice-item3 {
    background-color: #0dcaf0;
    margin: auto;
    height: 60px;
}
.Invoice-item3 h5 {
    margin-top: 18px;
    padding-left: 30px;
}
.Invoice-item4 {
    margin: auto;
    height: 60px;
}
.Invoice-item4 h5 {
    margin-top: 18px;
    padding-left: 30px;
}
.invoice-footer {
    margin-top: 20px;
    line-height: 10px;
    width: 100%;
    margin-left: 90px;
}
.back-to-home a {
    display: inline-block;
    margin-left: 40%;
}

